@require './code.styl';

.post-content {
  blockquote {
    font-size: 0.9rem;
    color: darken($accentColor, 50%);
    border-left: 3px solid $accentColor;
    margin: 0.5rem 0;
    padding: 0.25rem 0 0.25rem 1rem;

    & > p {
      margin: 0;
    }
  }
  h2, h3 {
    padding-top: 110px;
    margin-top: -90px
  }
}

#toc {
  margin: 5px 0
  border-left: solid 2px $accentColor
  ul {
    padding-left: 1rem;
    list-style: none;
    a {
      color: $secondaryColor
      text-decoration:none;
      font-size: .8rem
    }
    
  }
}