@require './code.styl';

.post-content blockquote {
  font-size: 0.9rem;
  color: darken($accentColor, 50%);
  border-left: 3px solid $accentColor;
  margin: 0.5rem 0;
  padding: 0.25rem 0 0.25rem 1rem;

  & > p {
    margin: 0;
  }
}